/*----------------------------Global---------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------Body----------------------------*/
body{
  background-color: hsl(212, 45%, 89%);
  padding: 0;
  align-items: center;
  justify-content: center;
}
main{
  min-height: 100vh;
}
#card{
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  text-align: center;
}
#qr-code{
  margin: 2%;
  text-align: center;
  display: block;
}
#qr-code > img{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  
}
#description{
  margin: 0 20px 20px;
  font-family: 'Outfit', sans-serif;
  word-wrap: break-word;
}
#description > h1{
  margin-bottom: 15px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
#description > p{
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  line-height: 20px;
  font-weight: 400;
}

/*----------------------------Footer---------------------------*/
.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-top: auto;
}
.attribution a { color: hsl(228, 45%, 44%); }

/*--------------------------Responsive-------------------------------*/
@media (min-width: 1440px){
  #card{
    margin: 10% 40%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px){
  #card{
    margin: 10% 30%;
  }
  #description, p{
    margin: auto 50px;
    font-size: large;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  #card{
    margin: 10% 20%;
  }
  #description, p{
    margin: auto 50px;
    font-size: large;
  }
}
@media (min-width: 500px) and (max-width: 768px){
  #card{
    margin: 15% 20%;
  }
}
@media (min-width: 375px) and (max-width: 500px){
  #card{
    margin: 30% 20%;
  }
}
@media (max-width: 375px){
  #card{
    margin: 40% 20%;
  }
}